AUTHENTICATION_API_KEY=GERE_UMA_CHAVE_LONGA
SERVER_URL=https://wa-api.seudominio.com
POSTGRES_DATABASE=evolution
POSTGRES_USERNAME=evolution_user
POSTGRES_PASSWORD=GERE_UMA_SENHA_FORTE
DATABASE_ENABLED=true
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://evolution_user:TROQUE_A_SENHA@evolution-postgres:5432/evolution
CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://redis:6379/6
CACHE_REDIS_PREFIX_KEY=evolution
CACHE_REDIS_SAVE_INSTANCES=false
CACHE_LOCAL_ENABLED=false
